.normal-form
{
    margin: 10px;
}
.controls-container
{
    width: 100%;
    padding: 5%;
}
.controls-container > *{
    width: 100%;
}

.add-bottom-padding
{
    padding-bottom: 10px;
}

div.container{
    margin: 0px 40px;
  }
  
  .mm{
    flex: 1 1 auto;
  }


  table {
    width: 100%;
  }
  .example-button-row {
    display: table-cell;
    width: 250px;
  }